#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.account_name {
  margin-top: 0.0em;
  margin-bottom: 0.5em;
}

.card {
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(56, 56, 56);

  padding: 2em
}

.social_button {
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(56, 56, 56);

  padding: 1.5em;
  margin-top: 1em;

  font-size: 1.3em;
  transition: background-color 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.social_icon {
  float: left;
  margin-top: 0.2em;
}

.social_name {
  float: right;
}

.social_button:hover {
  background-color: rgb(56, 56, 56);
}

.description {
  color: #888;
}
